body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

header nav a:hover {
  color: #ddd;
}

section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
}

/*Kontaktformular*/
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Eingabefelder und Textarea */
form input[type="text"],
form input[type="email"],
form textarea {
  width: 95%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border-color: #555;
}

form textarea {
  resize: vertical;
  min-height: 100px;
}

/* Submit-Button */
form button[type="submit"] {
  padding: 12px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button[type="submit"]:hover {
  background-color: #555;
}

/* Dark-Modus */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode header,
body.dark-mode nav,
body.dark-mode section {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark-mode form {
  background-color: #2a2a2a;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode form input[type="text"],
body.dark-mode form input[type="email"],
body.dark-mode form textarea {
  background-color: #333;
  color: #fff;
  border-color: #555;
}

body.dark-mode form input[type="text"]:focus,
body.dark-mode form input[type="email"]:focus,
body.dark-mode form textarea:focus {
  border-color: #888;
}

button#dark-mode-toggle {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

h1 {
  font-family: Helvetica;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
blockquote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
